
#iddButton{
    position: absolute;
    border-radius: 60%;
    padding-left: 25px;
    padding-right: 25px;
    right: 110px;
    top: 20px;
}
#idButton2{
    position: absolute;
    border-radius: 60%;
    float: left;
    padding-left: 25px;
    padding-right: 20px;
    right: 8px;
    top: 20px;
}
#aftaler{
    border: 1px solid black;
    height: 250px;

}
#opretkonsdiv{
    width:100%;
    position:relative;

}
#opretkonsoverskrift{

}
#opretkonskasse{
    position: absolute;
    width: 400px;
    margin-left: 50%;
    transform: translate(-50%);
}

.liste1{
    border: 1px solid black;
    text-align: center;
    margin-inside: 0px;
    list-style-type: none;
}


.tekstoverskrift{
    font-weight: bold;
    color: #00befd;

}
#piOverskrift{
    padding: 10px;
}
#vdOverskrift{
    text-align: center;
    padding-left: 25px;
}
#vtOverskrift{
    text-align: center;
    padding: 19px;
}
#vvOverskrift{
    text-align: center;
    padding-left: 36px;
}
#tnOverskrift{
    text-align: center;
    padding-left: 20px;
}

.options{
    text-align: center;
    border: none;
    background-color: #d8f5fd;
    width: 100%;
    height: 100%;
}